<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add     name= "Windows_AUT"
             providerName =  "System.Data.SqlClient"
             connectionString="Data Source=IN-ANALIST-LPT3;
                                   Initial Catalog = DB_BANCO_ELECTRONICO_PROGRA_III;
                                   Integrated Security=True;"
        />

    <add     name= "SQL_AUT"
         providerName =  "System.Data.SqlClient"
         connectionString="Data Source=IN-ANALIST-LPT3;
                                   Initial Catalog = DB_BANCO_ELECTRONICO_PROGRA_III;
                                   Persist Security Info=True;
                                   user id = sa;
                                   Password = 123456;"
        />

  </connectionStrings>
</configuration>